

@media screen and (max-width:960px) {
   
/* nav*/
    nav{ 
        height: 20px;
         transition: 0.4s; 
         overflow: hidden;
         justify-content: space-around;
         
        }

    
    nav ul{
        margin: 0 5px;
        padding: 0px;
        
    }
    
    nav li{
        
        text-align: center;
        margin: 0 5px;
    
    }

    nav li a{
        font-size: 12px;
        text-decoration:none;
        margin: 15px 0;
    }

    nav li a .bx{
        font-size: 20px;
    }

    /*about*/
    header img{
        display: none;
    }

   



    header .header_info h1{
	
        font-size: 40px;
        font-weight: 700;
        
    }
    header .header_info hr{
        width: 100%;
        }
    header .header_info p{
    font-size: 20px;
    }

    header .btn_about{
        padding: 15px 30px;
        }

    .about .about_img{
           display: none;
        }

        .about_info_content{
            padding-top: 10%;
            height: 100vh;
        }
        .about_info_content h1{
            font-size: 40px;
        }
        .about_info_content p{
            font-size: 20px;
        }
        .about_info_btn {
            font-size: 15px;
            padding: 5px 30px; 
        }
    
        /*experiences*/

        .experiences{
            
            max-width: 100vw; 
            padding: 50px;
            
        }
        .experiences h1{
 
            font-size: 30px; 
            font-weight: 700; 
            text-align: center; 
            margin-top: 0; 
            color: #232526;
            max-width: 100vw
     
        }
        .experiences .objects{
           
            width: auto; 
            flex-direction: column;

        }
        .experiences .object{
            width: 100%; 
            min-height: 240px; 
            padding: 50px 0;
        }

        .experiences .object i{
	
            font-size: 25px;

            }
            .experiences .object h2{
                font-size: 20px;
                
            }

            .experiences .object p{
                font-size: 15px;
                line-height: 13px;
            }



   
}

